Host	192.168.0.*
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null
# Server
Host 78.46.90.136 
	StrictHostKeyChecking yes
Host 78.46.90.151
	StrictHostKeyChecking yes
Host 78.46.90.152 
	StrictHostKeyChecking yes
Host 78.46.90.153 
	StrictHostKeyChecking yes
Host *
	StrictHostKeyChecking ask
	UserKnownHostsFile /dev/null
