
Host 192.168.*
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null

Host 78762.de 78.46.90.15[1-3] 78.46.90.136
	StrictHostKeyChecking yes
	UserKnownHostsFile ~/.ssh/known_hosts

Host drebesium.org 80.237.160.229
	StrictHostKeyChecking yes
	UserKnownHostsFile ~/.ssh/known_hosts

StrictHostKeyChecking ask
UserKnownHostsFile /dev/null
